<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.channels.ChannelsCategoryMapper">
  <resultMap id="channelsCategoryMap" type="com.mall4j.cloud.biz.model.channels.ChannelsCategory">
    <id column="id" property="id" />
    <result column="audit_id" property="auditId"/>
    <result column="level1" property="level1"/>
    <result column="name1" property="name1"/>
    <result column="level2" property="level2"/>
    <result column="name2" property="name2"/>
    <result column="level3" property="level3"/>
    <result column="name3" property="name3"/>
    <result column="status" property="status"/>
    <result column="reject_reason" property="rejectReason"/>
    <result column="certificate" property="certificate"/>
    <result column="baobeihan" property="baobeihan"/>
    <result column="jingyingzhengming" property="jingyingzhengming"/>
    <result column="daihuokoubei" property="daihuokoubei"/>
    <result column="ruzhuzhizhi" property="ruzhuzhizhi"/>
    <result column="jingyingliushui" property="jingyingliushui"/>
    <result column="buchongcailiao" property="buchongcailiao"/>
    <result column="jingyingpingtai" property="jingyingpingtai"/>
    <result column="zhanghaomingcheng" property="zhanghaomingcheng"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="certificate_url" property="certificateUrl"/>
    <result column="baobeihan_url" property="baobeihanUrl"/>
    <result column="jingyingzhengming_url" property="jingyingzhengmingUrl"/>
    <result column="daihuokoubei_url" property="daihuokoubeiUrl"/>
    <result column="ruzhuzhizhi_url" property="ruzhuzhizhiUrl"/>
    <result column="jingyingliushui_url" property="jingyingliushuiUrl"/>
    <result column="buchongcailiao_url" property="buchongcailiaoUrl"/>
  </resultMap>
  <sql id="Vo_Column_List">
    `id`,`audit_id`,`level1`,`name1`,`level2`,`name2`,`level3`,`name3`,`status`,`reject_reason`,`certificate`,`baobeihan`,`jingyingzhengming`,`daihuokoubei`,`ruzhuzhizhi`,`jingyingliushui`,`buchongcailiao`,`jingyingpingtai`,`zhanghaomingcheng`,`create_time`,`update_time`,`certificate_url`,`baobeihan_url`,`jingyingzhengming_url`,`daihuokoubei_url`,`ruzhuzhizhi_url`,`jingyingliushui_url`,`buchongcailiao_url`
  </sql>
  <select id="list" resultMap="channelsCategoryMap">
    select
        <include refid="Vo_Column_List"/>
    from channels_category
    where 1=1
    <if test="categoryDTO.queryName != null and categoryDTO.queryName !='' ">
      AND (name1 like CONCAT('%', #{categoryDTO.queryName},'%') or name2 like CONCAT('%', #{categoryDTO.queryName},'%') or name3 like CONCAT('%', #{categoryDTO.queryName},'%'))
    </if>
    order by id desc
  </select>
  <select id="getById" resultMap="channelsCategoryMap">
    select <include refid="Vo_Column_List"/> from channels_category where id = #{id}
  </select>

  <delete id="deleteById">
    delete from channels_category where id = #{id}
  </delete>

</mapper>
