<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.cp.CpPhoneTaskStaffMapper">
  <resultMap id="cpPhoneTaskRelMap" type="com.mall4j.cloud.biz.model.cp.CpPhoneTaskStaff">
    <id column="id" property="id" />
    <result column="staff_id" property="staffId"/>
    <result column="task_id" property="taskId"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="update_by" property="updateBy"/>
    <result column="update_time" property="updateTime"/>
    <result column="is_delete" property="isDelete"/>
  </resultMap>
  <sql id="Vo_Column_List">
    `id`,`staff_id`,`task_id`,`create_by`,`create_time`,`update_by`,`update_time`,`is_delete`
  </sql>

  <select id="list" resultType="com.mall4j.cloud.biz.vo.cp.CpPhoneTaskStaffVO">
    select
    <include refid="Vo_Column_List"/>
    from
    cp_phone_task_staff
    where is_delete=0
    and task_id=#{dto.taskId}
    <if test="dto.staffs!=null and dto.staffs.size>0">
      and rel.staff_id in
      <foreach collection="dto.staffs" item="staffId" open="(" close=")" separator=",">
        #{staffId}
      </foreach>
    </if>
    order by id desc
  </select>

  <select id="getById" resultMap="cpPhoneTaskRelMap">
    select <include refid="Vo_Column_List"/> from cp_phone_task_staff where id = #{id}
  </select>

  <delete id="deleteById">
    delete from cp_phone_task_staff where id = #{id}
  </delete>

  <select id="waitMatterCountByStaffId" resultType="java.lang.Integer">
    select count(1)
    from cp_phone_task_staff
    where is_delete = 0
    and staff_id = #{staffId}
    and task_id in (select id
    from cp_phone_task
    where cp_phone_task.is_delete = 0
    and open_status = 1
    and (start_time &lt; now() and now() &lt; end_time))
  </select>

</mapper>
