<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.cp.DistributionMomentsCommentsMapper">
  <resultMap id="distributionMomentsCommentsMap" type="com.mall4j.cloud.biz.model.cp.DistributionMomentsComments">
    <id column="id" property="id" />
    <result column="user_id" property="userId"/>
    <result column="staff_id" property="staffId"/>
    <result column="staff_user_id" property="staffUserId"/>
    <result column="staff_send_record_id" property="staffSendRecordId"/>
    <result column="moments_id" property="momentsId"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="create_by" property="createBy"/>
    <result column="update_by" property="updateBy"/>
    <result column="is_delete" property="isDelete"/>
    <result column="type" property="type"/>
  </resultMap>

  <sql id="Vo_Column_List">
    `id`,`user_id`,`staff_id`,`staff_user_id`,`moments_id`,`create_time`,`update_time`,`create_by`,`update_by`,`is_delete`,`type`,`staff_send_record_id`
  </sql>

  <select id="list" resultType="com.mall4j.cloud.biz.vo.cp.DistributionMomentsCommentsVO">
    select <include refid="Vo_Column_List"/>
    from distribution_moments_comments
    where
    is_delete=0
    <if test="dto.staffSendRecordId!=null">
      and staff_send_record_id=#{dto.staffSendRecordId}
    </if>
    <if test="dto.type!=null">
      and type=#{dto.type}
    </if>
    order by create_time desc
  </select>

  <select id="getById" resultMap="distributionMomentsCommentsMap">
    select <include refid="Vo_Column_List"/> from distribution_moments_comments where id = #{id}
  </select>


</mapper>
