<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.cp.GroupCreateTaskMapper">
  <resultMap id="groupCreateTaskMap" type="com.mall4j.cloud.biz.model.cp.CpGroupCreateTask">
    <id column="ID" property="id" />
    <result column="TASK_NAME" property="taskName"/>
    <result column="SEND_SCOPE" property="sendScope"/>
    <result column="SLOGAN" property="slogan"/>
    <result column="CODE_ID" property="codeId"/>
    <result column="SEND_TYPE" property="sendType"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="CREATE_BY" property="createBy"/>
    <result column="CREATE_NAME" property="createName"/>
    <result column="UPDATE_TIME" property="updateTime"/>
    <result column="SEND_TIME" property="sendTime"/>
    <result column="SEND_STATUS" property="sendStatus"/>
    <result column="is_replay" property="isReplay"/>
    <result column="group_type" property="groupType"/>
    <result column="update_by" property="updateBy"/>
    <result column="is_delete" property="isDelete"/>
    <result column="warn_count" property="warnCount"/>
    <result column="warn_time" property="warnTime"/>
    <result column="msg_id" property="msgId"/>
    <result column="fail_list" property="failList"/>
    <result column="drainage_url" property="drainageUrl"/>
    <result column="drainage_path" property="drainagePath"/>
    <result column="invite_count" property="inviteCount"/>
    <result column="user_count" property="userCount"/>
    <result column="staff_count" property="staffCount"/>
    <result column="group_count" property="groupCount"/>
    <result column="state" property="state"/>
    <result column="join_group_count" property="joinGroupCount"/>
    <result column="send_staff_count" property="sendStaffCount"/>
    <result column="allow_select" property="allowSelect"/>
  </resultMap>
  <resultMap id="groupCreateTaskVOMap" extends="groupCreateTaskMap" type="com.mall4j.cloud.biz.vo.cp.GroupCreateTaskVO">
    <result column="total" property="total" />
  </resultMap>
  <resultMap id="queryCreateTaskMap" type="com.mall4j.cloud.biz.vo.cp.TaskAttachmentVO">
    <id column="ID" property="id" />
    <result column="CONTENT" property="content"/>
    <result column="USER_ID" property="userId"/>
    <result column="END_TIME" property="endTime"/>
    <result column="TYPE" property="type"/>
    <result column="url" property="url"/>
  </resultMap>

  <sql id="Vo_Column_List">
    `ID`,`TASK_NAME`,`SEND_SCOPE`,`SLOGAN`,`CODE_ID`,`SEND_TYPE`,`CREATE_TIME`,`CREATE_BY`,`CREATE_NAME`,`UPDATE_TIME`,`SEND_TIME`,`SEND_STATUS`,`is_replay`,`group_type`,`update_by`,`is_delete`,`warn_count`,`warn_time`,`msg_id`
    ,`fail_list`,`drainage_url`,`drainage_path`,`invite_count`
    ,`user_count`,`staff_count`,`group_count`,`join_group_count`,`send_staff_count`,`state`,`allow_select`
  </sql>
  <select id="list" resultType="com.mall4j.cloud.biz.vo.cp.GroupCreateTaskVO">
    select
      M.`ID`,
      M.`TASK_NAME`,
      M.`SEND_SCOPE`,
      M.`SLOGAN`,
      M.`CODE_ID`,
      M.`SEND_TYPE`,
      M.`CREATE_TIME`,
      M.`CREATE_BY`,
      M.`CREATE_NAME`,
      M.`UPDATE_TIME`,
      M.`SEND_TIME`,
      M.`SEND_STATUS`,
      M.`drainage_url`,
      M.`allow_select`,
      M.`warn_count`
    from cp_group_create_task M
    <if test="et.staffIds!=null and et.staffIds.size>0">
      left join cp_task_staff_ref sr on sr.TASK_ID=M.ID and sr.is_delete=0
    </if>
    WHERE  M.is_delete=0
    <if test="et.taskName != null and et.taskName !='' ">
      AND TASK_NAME like CONCAT('%', #{et.taskName},'%')
    </if>
    <if test="et.staffIds!=null and et.staffIds.size>0">
      and sr.STAFF_ID in
      <foreach collection="et.staffIds" item="staffId" open="(" close=")" separator=",">
        #{staffId}
      </foreach>
    </if>
    order by M.CREATE_TIME desc
  </select>
  <select id="getById" resultMap="groupCreateTaskMap">
    select <include refid="Vo_Column_List"/> from cp_group_create_task where ID = #{id}
  </select>
  <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    insert into cp_group_create_task (is_replay,`TASK_NAME`,`SEND_SCOPE`,`SLOGAN`,`CODE_ID`,`SEND_TYPE`,`CREATE_TIME`,`CREATE_BY`,`CREATE_NAME`,`UPDATE_TIME`,`SEND_TIME`,`SEND_STATUS`)
    values (#{groupCreateTask.isRelay},#{groupCreateTask.taskName},#{groupCreateTask.sendScope},#{groupCreateTask.slogan},#{groupCreateTask.codeId},#{groupCreateTask.sendType},#{groupCreateTask.createTime},#{groupCreateTask.createBy},#{groupCreateTask.createName},#{groupCreateTask.updateTime},#{groupCreateTask.sendTime},#{groupCreateTask.sendStatus});
  </insert>
  <update id="update">
    update cp_group_create_task
    <set>
      <if test="groupCreateTask.taskName != null">
        `TASK_NAME` = #{groupCreateTask.taskName},
      </if>
      <if test="groupCreateTask.sendScope != null">
        `SEND_SCOPE` = #{groupCreateTask.sendScope},
      </if>
      <if test="groupCreateTask.slogan != null">
        `SLOGAN` = #{groupCreateTask.slogan},
      </if>
      <if test="groupCreateTask.codeId != null">
        `CODE_ID` = #{groupCreateTask.codeId},
      </if>
      <if test="groupCreateTask.sendType != null">
        `SEND_TYPE` = #{groupCreateTask.sendType},
      </if>
      <if test="groupCreateTask.createTime != null">
        `CREATE_TIME` = #{groupCreateTask.createTime},
      </if>
      <if test="groupCreateTask.createBy != null">
        `CREATE_BY` = #{groupCreateTask.createBy},
      </if>
      <if test="groupCreateTask.createName != null">
        `CREATE_NAME` = #{groupCreateTask.createName},
      </if>
      <if test="groupCreateTask.updateTime != null">
        `UPDATE_TIME` = #{groupCreateTask.updateTime},
      </if>
      <if test="groupCreateTask.sendTime != null">
        `SEND_TIME` = #{groupCreateTask.sendTime},
      </if>
      <if test="groupCreateTask.sendStatus != null">
        `SEND_STATUS` = #{groupCreateTask.sendStatus},
      </if>
      <if test="groupCreateTask.isRelay != null">
        `is_replay` = #{groupCreateTask.isRelay},
      </if>
    </set>
    where ID = #{groupCreateTask.id}
  </update>
  <delete id="deleteById">
    update cp_group_create_task set is_delete=1 where ID = #{id}
  </delete>



  <!-- 提供给望伟的小程序端 -->
  <select id="queryTaskList" resultMap="queryCreateTaskMap">
    select T.ID,S.USER_ID,T.TASK_NAME CONTENT ,'groupCode' TYPE,C.QR_CODE url from cp_group_create_task T,cp_group_code C,cp_task_staff_ref S
    WHERE T.CODE_ID = C.id
     AND T.ID = S.TASK_ID
     AND S.TYPE = 0
    <if test="status != null"> AND T.is_replay = #{status}</if>
    <if test="userId != null and userId !=''  "> AND S.USER_ID = #{userId}</if>
    <if test="staffId != null"> AND S.STAFF_ID = #{staffId}</if>
    <if test="id != null"> AND T.ID = #{id}</if>
  </select>


</mapper>
