<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.channels.LeagueItemPlanFinderMapper">
    <insert id="insertBatch" parameterType="com.mall4j.cloud.biz.model.channels.LeagueItemPlanFinder">
        insert into channels_league_item_plan_finder(id,create_time,update_time,plan_id,finder_id)
        values
        <foreach collection="reqs" item="item" separator="," >
            (null,#{item.createTime},#{item.updateTime},#{item.planId},#{item.finderId})
        </foreach>
    </insert>

    <select id="selectFinderListByPlanId" resultType="string" parameterType="long">
        select finder_id from channels_league_item_plan_finder where plan_id = #{planId}
    </select>
</mapper>