<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.cp.TagMapper">
  <resultMap id="tagMap" type="com.mall4j.cloud.biz.model.cp.Tag">
    <id column="ID" property="id" />
    <result column="TAG_NAME" property="tagName"/>
    <result column="GROUP_ID" property="groupId"/>
    <result column="STATUS" property="status"/>
    <result column="FLAG" property="flag"/>
  </resultMap>

  <sql id="Vo_Column_List">
    `ID`,`TAG_NAME`,`GROUP_ID`,`STATUS`,`FLAG`
  </sql>
  <select id="list" resultMap="tagMap">
    select <include refid="Vo_Column_List"/> from CP_TAG
    where STATUS =1
    order by ID desc
  </select>

  <select id="listSelectedByGroupId" resultMap="tagMap">
    select <include refid="Vo_Column_List"/> from CP_TAG
      WHERE ID IN (SELECT TAG_ID FROM CP_GROUP_TAG_REF WHERE GROUP_ID = #{id})
  </select>

  <select id="listByGroupId" resultMap="tagMap">
    select <include refid="Vo_Column_List"/> from CP_TAG  WHERE  GROUP_ID = #{id}
  </select>

  <select id="getById" resultMap="tagMap">
    select <include refid="Vo_Column_List"/> from CP_TAG where ID = #{id}
  </select>
  <insert id="save">
    insert into CP_TAG (`TAG_NAME`,`GROUP_ID`,`STATUS`,`FLAG`)
    values (#{tag.tagName},#{tag.groupId},#{tag.status},#{tag.flag});
  </insert>
  <update id="update">
    update CP_TAG
    <set>
      <if test="tag.tagName != null">
        `TAG_NAME` = #{tag.tagName},
      </if>
      <if test="tag.groupId != null">
        `GROUP_ID` = #{tag.groupId},
      </if>
      <if test="tag.status != null">
        `STATUS` = #{tag.status},
      </if>
      <if test="tag.flag != null">
        `FLAG` = #{tag.flag},
      </if>
    </set>
    where ID = #{tag.id}
  </update>
  <delete id="deleteById">
    delete from CP_TAG where ID = #{id}
  </delete>

</mapper>
