<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall4j.cloud.biz.mapper.TaskClientInfoMapper">

    <resultMap id="BaseResultMap" type="com.mall4j.cloud.biz.model.TaskClientInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
            <result property="clientNickname" column="client_nickname" jdbcType="VARCHAR"/>
            <result property="clientPhone" column="client_phone" jdbcType="VARCHAR"/>
            <result property="clientRemark" column="client_remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        create_by,update_by,del_flag,
        task_id,client_id,client_nickname,
        client_phone,client_remark
    </sql>
</mapper>
