<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.biz.mapper.TaskManagementMapper">




  <select id="list" resultType="com.mall4j.cloud.biz.vo.TaskManagementVO">
    SELECT
    DISTINCT
    tm.id AS id,
    tm.task_name AS taskName,
    tm.affiliated_company_type AS affiliatedCompanyType,
    tm.store_selection_type as storeSelectionType,
    tm.user_range_type AS userRangeType,
    COUNT(CASE WHEN tm.store_selection_type = 1 THEN tsg.store_id ELSE NULL END) AS storeNum,
    COUNT(CASE WHEN tm.user_range_type = 1 THEN tsg.user_id ELSE NULL END) AS userNum,
    tm.task_start_time AS taskStartTime,
    tm.task_end_time AS taskEndTime,
    tm.task_type AS taskType,
    tm.status as status
    FROM
    task_management tm
    LEFT JOIN
    task_shopping_guide tsg ON tm.id = tsg.task_id
    <where>
      <if test="param.taskName != null and param.taskName != ''">
        AND tm.task_name LIKE CONCAT('%', #{param.taskName}, '%')
      </if>
      <if test="param.taskType != null">
        and tm.task_type = #{param.taskType}
      </if>
      <if test="param.affiliatedCompanyType != null">
        and tm.affiliated_company_type = #{param.affiliatedCompanyType}
      </if>
      <if test="param.status != null">
        and tm.status = #{param.status}
      </if>
    and tm.is_delete = 0
    </where>
    ORDER BY tm.create_time desc
  </select>

  <select id="getId" resultType="com.mall4j.cloud.biz.vo.TaskManagementVO">
    SELECT
      id AS id,
      task_name AS taskName,
      affiliated_company_type AS affiliatedCompanyType,
      store_selection_type AS storeSelectionType,
      user_range_type AS userRangeType,
      task_start_time AS taskStartTime,
      task_end_time AS taskEndTime,
      task_type AS taskType,
      status as status
    FROM task_management
    WHERE id = #{id}
  </select>

  <update id="modifyTaskStatus">
    UPDATE task_management
    SET `status` = 2
    WHERE id = #{id}
  </update>

  <insert id="addTaskManagement" parameterType="TaskManagement" useGeneratedKeys="true" keyProperty="id">
    insert into
        task_management
        (task_name,
         store_selection_type,
         user_range_type, task_type,
         affiliated_company_type,
         quantity_allotted,
         execution_mode,
         script_content,
         task_objective_ratio,
         task_start_time,
         task_end_time,
         return_visit_result,
         status,
         create_time)
    values
        (#{taskName},
         #{storeSelectionType},
         #{userRangeType},
         #{taskType},
         #{affiliatedCompanyType},
         #{quantityAllotted},
         #{executionMode},
         #{scriptContent},
         #{taskObjectiveRatio},
         #{taskStartTime},
         #{taskEndTime},
         #{returnVisitResult},
         #{status},
         #{createTime})
  </insert>

</mapper>
