<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.user.mapper.scoreConvert.ScoreConvertShopMapper">
    <insert id="insertBatch">
        insert into score_convert_shop
        (convert_id,shop_id,type)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (#{item.convertId},#{item.shopId},#{item.type})
        </foreach >
    </insert>
</mapper>
