<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.user.mapper.UserActionMapper">
  <resultMap id="userActionMap" type="com.mall4j.cloud.user.vo.UserActionListVO">
    <result column="user_id" property="userId"/>
    <result column="user_name" property="userName"/>
    <result column="type" property="type"/>
    <result column="page_type" property="pageType"/>
    <result column="activity_id" property="activityId"/>
    <result column="product_id" property="productId"/>
    <result column="product_name" property="productName"/>
    <result column="order_id" property="orderId"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <sql id="Vo_Column_List">
    `id`,`user_id`,`user_name`,`type`,`page_type`,`activity_id`,`product_id`,`product_name`,`order_id`,`create_time`,`update_time`
  </sql>

  <insert id="saveBatch">
    insert into user_action(`user_id`,`user_name`,`tentacle_no`,`type`,`page_type`,`activity_id`,`product_id`,`product_name`,`order_id`)
    values
    <foreach collection="userActionList" item="userAction" separator=",">
      (#{userAction.userId},#{userAction.userName},#{userAction.tentacleNo},#{userAction.type},#{userAction.pageType},#{userAction.activityId},
      #{userAction.productId},#{userAction.productName},#{userAction.orderId})
    </foreach>
  </insert>

  <select id="list" resultMap="userActionMap">
    select <include refid="Vo_Column_List"/> from user_action
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="startTime != null">
        and create_time <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null">
        and create_time <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    order by id desc
  </select>

</mapper>
