<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall4j.cloud.distribution.mapper.DistributionJointVentureCommissionApplyMapper">
    <resultMap id="BaseResultMap" type="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="apply_no" jdbcType="VARCHAR" property="applyNo"/>
        <result column="order_time_upper_bound" jdbcType="TIMESTAMP" property="orderTimeUpperBound"/>
        <result column="order_time_lower_bound" jdbcType="TIMESTAMP" property="orderTimeLowerBound"/>
        <result column="order_turnover" jdbcType="BIGINT" property="orderTurnover"/>
        <result column="order_refund_turnover" jdbcType="BIGINT" property="orderRefundTurnover"/>
        <result column="commission_rate" jdbcType="BIGINT" property="commissionRate"/>
        <result column="commission_amount" jdbcType="BIGINT" property="commissionAmount"/>
        <result column="commission_refund_amount" jdbcType="BIGINT" property="commissionRefundAmount"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_phone" jdbcType="CHAR" property="customerPhone"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="request_resp_info" jdbcType="VARCHAR" property="requestRespInfo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , apply_no, order_time_upper_bound, order_time_lower_bound, order_turnover, order_refund_turnover, commission_rate,
    commission_amount, commission_refund_amount, customer_id, customer_name, customer_phone, `status`, request_id, request_resp_info, create_time,
    update_time, audit_user_id, audit_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from distribution_joint_venture_commission_apply
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByAppyNo" parameterType="java.lang.String" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from distribution_joint_venture_commission_apply
        where apply_no = #{applyNo}
    </select>

    <select id="selectBySelective"
            resultType="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply">
        select
        <include refid="Base_Column_List"/>
        from distribution_joint_venture_commission_apply
        <where>
            <if test="applyNo != null and applyNo != ''">
                AND apply_no = #{applyNo,jdbcType=VARCHAR}
            </if>
            <if test="orderTimeUpperBound != null">
                AND order_time_upper_bound = #{orderTimeUpperBound,jdbcType=TIMESTAMP}
            </if>
            <if test="orderTimeLowerBound != null">
                AND order_time_lower_bound = #{orderTimeLowerBound,jdbcType=TIMESTAMP}
            </if>
            <if test="orderTurnover != null">
                AND order_turnover = #{orderTurnover,jdbcType=BIGINT}
            </if>
            <if test="orderRefundTurnover != null">
                AND order_refund_turnover = #{orderRefundTurnover,jdbcType=BIGINT}
            </if>
            <if test="commissionRate != null">
                AND commission_rate = #{commissionRate,jdbcType=BIGINT}
            </if>
            <if test="commissionAmount != null">
                AND commission_amount = #{commissionAmount,jdbcType=BIGINT}
            </if>
            <if test="commissionRefundAmount != null">
                AND commission_refund_amount = #{commissionRefundAmount,jdbcType=BIGINT}
            </if>
            <if test="customerId != null">
                AND customer_id = #{customerId,jdbcType=BIGINT}
            </if>
            <if test="customerName != null and customerName != ''">
                AND customer_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND customer_phone = #{customerPhone,jdbcType=CHAR}
            </if>
            <if test="status != null">
                AND `status` = #{status,jdbcType=BOOLEAN}
            </if>
        </where>
        order by create_time desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from distribution_joint_venture_commission_apply
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply"
            useGeneratedKeys="true">
        insert into distribution_joint_venture_commission_apply (apply_no, order_time_upper_bound,
                                                                 order_time_lower_bound,
                                                                 order_turnover, order_refund_turnover, commission_rate,
                                                                 commission_amount,
                                                                 commission_refund_amount, customer_id, customer_name,
                                                                 customer_phone,
                                                                 `status`)
        values (#{applyNo,jdbcType=VARCHAR}, #{orderTimeUpperBound,jdbcType=TIMESTAMP},
                #{orderTimeLowerBound,jdbcType=TIMESTAMP},
                #{orderTurnover,jdbcType=BIGINT}, #{orderRefundTurnover,jdbcType=BIGINT},
                #{commissionRate,jdbcType=BIGINT},
                #{commissionAmount,jdbcType=BIGINT}, #{commissionRefundAmount,jdbcType=BIGINT},
                #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{customerPhone,jdbcType=CHAR},
                #{status,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply"
            useGeneratedKeys="true">
        insert into distribution_joint_venture_commission_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyNo != null">
                apply_no,
            </if>
            <if test="orderTimeUpperBound != null">
                order_time_upper_bound,
            </if>
            <if test="orderTimeLowerBound != null">
                order_time_lower_bound,
            </if>
            <if test="orderTurnover != null">
                order_turnover,
            </if>
            <if test="orderRefundTurnover != null">
                order_refund_turnover,
            </if>
            <if test="commissionRate != null">
                commission_rate,
            </if>
            <if test="commissionAmount != null">
                commission_amount,
            </if>
            <if test="commissionRefundAmount != null">
                commission_refund_amount,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="customerPhone != null">
                customer_phone,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyNo != null">
                #{applyNo,jdbcType=VARCHAR},
            </if>
            <if test="orderTimeUpperBound != null">
                #{orderTimeUpperBound,jdbcType=TIMESTAMP},
            </if>
            <if test="orderTimeLowerBound != null">
                #{orderTimeLowerBound,jdbcType=TIMESTAMP},
            </if>
            <if test="orderTurnover != null">
                #{orderTurnover,jdbcType=BIGINT},
            </if>
            <if test="orderRefundTurnover != null">
                #{orderRefundTurnover,jdbcType=BIGINT},
            </if>
            <if test="commissionRate != null">
                #{commissionRate,jdbcType=BIGINT},
            </if>
            <if test="commissionAmount != null">
                #{commissionAmount,jdbcType=BIGINT},
            </if>
            <if test="commissionRefundAmount != null">
                #{commissionRefundAmount,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerPhone != null">
                #{customerPhone,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply">
        update distribution_joint_venture_commission_apply
        <set>
            <if test="applyNo != null">
                apply_no = #{applyNo,jdbcType=VARCHAR},
            </if>
            <if test="orderTimeUpperBound != null">
                order_time_upper_bound = #{orderTimeUpperBound,jdbcType=TIMESTAMP},
            </if>
            <if test="orderTimeLowerBound != null">
                order_time_lower_bound = #{orderTimeLowerBound,jdbcType=TIMESTAMP},
            </if>
            <if test="orderTurnover != null">
                order_turnover = #{orderTurnover,jdbcType=BIGINT},
            </if>
            <if test="orderRefundTurnover != null">
                order_refund_turnover = #{orderRefundTurnover,jdbcType=BIGINT},
            </if>
            <if test="commissionRate != null">
                commission_rate = #{commissionRate,jdbcType=BIGINT},
            </if>
            <if test="commissionAmount != null">
                commission_amount = #{commissionAmount,jdbcType=BIGINT},
            </if>
            <if test="commissionRefundAmount != null">
                commission_refund_amount = #{commissionRefundAmount,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerPhone != null">
                customer_phone = #{customerPhone,jdbcType=CHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="requestId != null">
                request_id = #{requestId,jdbcType=VARCHAR},
            </if>
            <if test="requestRespInfo != null">
                request_resp_info = #{requestRespInfo,jdbcType=VARCHAR},
            </if>
            <if test="auditUserId != null">
                audit_user_id = #{auditUserId,jdbcType=BIGINT},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.mall4j.cloud.distribution.model.DistributionJointVentureCommissionApply">
        update distribution_joint_venture_commission_apply
        set apply_no                 = #{applyNo,jdbcType=VARCHAR},
            order_time_upper_bound   = #{orderTimeUpperBound,jdbcType=TIMESTAMP},
            order_time_lower_bound   = #{orderTimeLowerBound,jdbcType=TIMESTAMP},
            order_turnover           = #{orderTurnover,jdbcType=BIGINT},
            order_refund_turnover    = #{orderRefundTurnover,jdbcType=BIGINT},
            commission_rate          = #{commissionRate,jdbcType=BIGINT},
            commission_amount        = #{commissionAmount,jdbcType=BIGINT},
            commission_refund_amount = #{commissionRefundAmount,jdbcType=BIGINT},
            customer_id              = #{customerId,jdbcType=BIGINT},
            customer_name            = #{customerName,jdbcType=VARCHAR},
            customer_phone           = #{customerPhone,jdbcType=CHAR},
            `status`                 = #{status,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>