<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.distribution.mapper.DistributionWithdrawProcessLogMapper">
  <resultMap id="distributionWithdrawProcessLogMap" type="com.mall4j.cloud.distribution.model.DistributionWithdrawProcessLog">
    <id column="id" property="id" />
    <result column="process_id" property="processId"/>
    <result column="withdraw_order_no" property="withdrawOrderNo"/>
    <result column="status" property="status"/>
    <result column="fail_reason" property="failReason"/>
    <result column="process_type" property="processType"/>
    <result column="reject_reason" property="rejectReason"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>
  <sql id="Vo_Column_List">
    `id`,`process_id`,`withdraw_order_no`,`status`,`fail_reason`,`process_type`,`reject_reason`,`create_time`,`update_time`
  </sql>
  <select id="list" resultMap="distributionWithdrawProcessLogMap">
    select <include refid="Vo_Column_List"/> from distribution_withdraw_process_log order by id desc
  </select>
  <select id="getById" resultMap="distributionWithdrawProcessLogMap">
    select <include refid="Vo_Column_List"/> from distribution_withdraw_process_log where id = #{id}
  </select>
    <select id="listByProcess" resultMap="distributionWithdrawProcessLogMap">
      select <include refid="Vo_Column_List"/> from distribution_withdraw_process_log
      where process_id = #{processId}
      order by id desc
    </select>
    <insert id="save">
    insert into distribution_withdraw_process_log (`process_id`,`withdraw_order_no`,`status`,`fail_reason`)
    values (#{distributionWithdrawProcessLog.processId},#{distributionWithdrawProcessLog.withdrawOrderNo},#{distributionWithdrawProcessLog.status},#{distributionWithdrawProcessLog.failReason});
  </insert>
  <update id="update">
    update distribution_withdraw_process_log
    <set>
      <if test="distributionWithdrawProcessLog.processId != null">
        `process_id` = #{distributionWithdrawProcessLog.processId},
      </if>
      <if test="distributionWithdrawProcessLog.withdrawOrderNo != null">
        `withdraw_order_no` = #{distributionWithdrawProcessLog.withdrawOrderNo},
      </if>
      <if test="distributionWithdrawProcessLog.status != null">
        `status` = #{distributionWithdrawProcessLog.status},
      </if>
      <if test="distributionWithdrawProcessLog.failReason != null">
        `fail_reason` = #{distributionWithdrawProcessLog.failReason},
      </if>
    </set>
    where id = #{distributionWithdrawProcessLog.id}
  </update>
  <delete id="deleteById">
    delete from distribution_withdraw_process_log where id = #{id}
  </delete>

</mapper>
