<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall4j.cloud.product.mapper.CategoryNavigationMapper">

    <resultMap id="BaseResultMap" type="com.mall4j.cloud.product.model.CategoryNavigation">
            <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="seq" column="seq" jdbcType="INTEGER"/>
            <result property="isLastLevel" column="is_last_level" javaType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `category_id`,`name`,`parent_id`,
        `desc`,`path`,`icon`,
        `img_url`,`level`,`seq`,
        `status`,`is_delete`,`create_time`,
        `update_time`
    </sql>
</mapper>
