<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.product.mapper.SpuExtensionMapper">
    <resultMap id="spuExtensionMap" type="com.mall4j.cloud.product.model.SpuExtension">
        <id column="spu_extend_id" property="spuExtendId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="spu_id" property="spuId"/>
        <result column="comment_num" property="commentNum"/>
        <result column="sale_num" property="saleNum"/>
        <result column="water_sold_num" property="waterSoldNum"/>
        <result column="actual_stock" property="actualStock"/>
        <result column="lock_stock" property="lockStock"/>
        <result column="stock" property="stock"/>
        <result column="channels_stock" property="channelsStock"/>
    </resultMap>
    <sql id="Vo_Column_List">
        `spu_extend_id`,
        `create_time`,
        `update_time`,
        `spu_id`,
        `comment_num`,
        `sale_num`,
        `actual_stock`,
        `lock_stock`,
        `stock`,
        `channels_stock`
    </sql>
    <select id="list" resultType="com.mall4j.cloud.product.vo.SpuExtensionVO">
        select
        <include refid="Vo_Column_List"/>
        from spu_extension
        order by spu_extend_id desc
    </select>
    <select id="getBySpuExtendId" resultType="com.mall4j.cloud.product.vo.SpuExtensionVO">
        select
        <include refid="Vo_Column_List"/>
        from spu_extension
        where spu_extend_id = #{spuExtendId}
    </select>
    <insert id="save">
        insert into spu_extension (`spu_id`, `comment_num`, `sale_num`, `actual_stock`, `lock_stock`, `stock`, `channels_stock`)
        values (#{spuExtension.spuId}, 0, 0, #{spuExtension.actualStock}, 0, #{spuExtension.stock}, #{spuExtension.channelsStock});
    </insert>

    <delete id="deleteById">
        delete
        from spu_extension
        where spu_id = #{spuId}
    </delete>

    <update id="updateStock">
        UPDATE spu_extension SET
        `stock`      = (SELECT SUM(stock) FROM sku_stock WHERE sku_id IN (SELECT sku_id FROM sku WHERE spu_id = #{spuId} AND STATUS = 1)),
        actual_stock = (SELECT SUM(actual_stock) FROM sku_stock WHERE sku_id IN (SELECT sku_id FROM sku WHERE spu_id = #{spuId} AND STATUS = 1))
        WHERE spu_id = #{spuId}
    </update>

    <update id="reduceStockByOrder">
        update spu_extension
        set `stock`      = `stock` - #{count},
            `lock_stock` = `lock_stock` + #{count}
        where spu_id = #{spuId}
          and #{count} &lt;= `stock`
    </update>

    <update id="addStockByOrder">
        <foreach collection="skuWithStocks" item="skuWithStock" separator=";">
            update spu_extension
            set `stock` = `stock` + #{skuWithStock.count},
            `lock_stock` = `lock_stock` - #{skuWithStock.count}
            where spu_id = #{skuWithStock.spuId}
        </foreach>
    </update>

    <update id="reduceActualStockByOrder">
        <foreach collection="skuWithStocks" item="skuWithStock" separator=";">
            update spu_extension
            set `lock_stock` = (CASE  WHEN `lock_stock` - #{skuWithStock.count} &lt; 0 THEN 0 ELSE `lock_stock` - #{skuWithStock.count} END ),
            `actual_stock` = (CASE  WHEN `actual_stock` - #{skuWithStock.count} &lt; 0 THEN 0 ELSE `actual_stock` - #{skuWithStock.count} END ),
            `sale_num` = `sale_num` + #{skuWithStock.count}
            where spu_id = #{skuWithStock.spuId}
        </foreach>
    </update>

    <update id="reduceEcChannelsStockBySpuId">
            update spu_extension
            set
                stock = stock - #{count},
            `channels_stock` = `channels_stock` - #{count},
            `sale_num` = `sale_num` + #{count}
            where spu_id = #{spuId}
    </update>

    <update id="reduceActualStockByCancelOrder">
        <foreach collection="skuWithStocks" item="skuWithStock" separator=";">
            update spu_extension
            set `actual_stock` = `actual_stock` - #{skuWithStock.count},
            `stock` = `stock` - #{skuWithStock.count},
            `sale_num` = `sale_num` + #{skuWithStock.count}
            where spu_id = #{skuWithStock.spuId}
        </foreach>
    </update>
    <select id="getBySpuId" resultMap="spuExtensionMap">
        select `spu_extend_id`, `spu_id`, `comment_num`, `sale_num`, `water_sold_num`, `actual_stock`, `lock_stock`, `stock`
        from spu_extension
        where spu_id = #{spuId}
    </select>

    <update id="reductionActualStockByRefund">
        <foreach collection="refundReductionStocks" item="skuWithStock" separator=";">
            update spu_extension
            set `actual_stock` = `actual_stock` + #{skuWithStock.count},
            `stock` = `stock` + #{skuWithStock.count},
            `sale_num` = `sale_num` - #{skuWithStock.count}
            where spu_id = #{skuWithStock.spuId}
        </foreach>
    </update>

    <update id="update">
        update spu_extension
        <set>
            <if test="spuExtension.stock">
                stock = #{spuExtension.stock},
            </if>
            <if test="spuExtension.actualStock">
                actual_stock = #{spuExtension.actualStock},
            </if>
            <if test="spuExtension.lockStock">
                lock_stock = #{spuExtension.lockStock}
            </if>
            <if test="spuExtension.channelsStock">
                channels_stock = #{spuExtension.channelsStock},
            </if>
        </set>
        where spu_id = #{spuExtension.spuId}
    </update>
    <update id="updateWaterSoldNumBySpuId">
        update spu_extension
        set water_sold_num = #{waterSoldNum}
        where spu_id = #{spuId}
    </update>
    <update id="changeCommentNum">
        update spu_extension
        set comment_num = (SELECT COUNT(*) FROM spu_comm WHERE spu_id = #{spuId} AND `status` = 1)
        where spu_id = #{spuId}
    </update>

    <update id="updateStocks">
        <foreach collection="spuStocks" item="spuStock" separator=";">
            update spu_extension set
            stock = #{spuStock.stock},
            update_time=now()
            where spu_id = #{spuStock.spuId}
        </foreach>
    </update>

    <update id="zeroSetChannelsStock">
        update spu_extension set channels_stock = 0 where spu_id = #{spuId}
    </update>

    <update id="updateChannelsStock">
        update spu_extension set channels_stock = channels_stock + #{countStock} where spu_id = #{spuId}
    </update>

</mapper>
