<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall4j.cloud.group.mapper.PopUpAdUserRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mall4j.cloud.group.model.PopUpAdUserRelation">
        <id column="pop_up_ad_user_relation_id" property="popUpAdUserRelationId" />
        <result column="pop_up_ad_id" property="popUpAdId" />
        <result column="vip_user_id" property="vipUserId" />
        <result column="vip_code" property="vipCode" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="store_id" property="storeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        open_screen_ad_user_relation_id, open_screen_ad_id, vip_user_id, vip_code, create_time, create_user, update_time, store_id
    </sql>

</mapper>
