<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.group.mapper.TimeLimitedDiscountShopMapper">
  <resultMap id="timeLimitedDiscountShopMap" type="com.mall4j.cloud.group.model.TimeLimitedDiscountShop">
    <id column="id" property="id" />
    <result column="activity_id" property="activityId"/>
    <result column="shop_id" property="shopId"/>
  </resultMap>
  <sql id="Vo_Column_List">
    `id`,`activity_id`,`shop_id`
  </sql>
  <select id="list" resultMap="timeLimitedDiscountShopMap">
    select <include refid="Vo_Column_List"/> from time_limited_discount_shop order by id desc
  </select>
  <select id="getById" resultMap="timeLimitedDiscountShopMap">
    select <include refid="Vo_Column_List"/> from time_limited_discount_shop where id = #{id}
  </select>
  <insert id="save">
    insert into time_limited_discount_shop (`activity_id`,`shop_id`)
    values (#{timeLimitedDiscountShop.activityId},#{timeLimitedDiscountShop.shopId});
  </insert>
  <update id="update">
    update time_limited_discount_shop
    <set>
      <if test="timeLimitedDiscountShop.activityId != null">
        `activity_id` = #{timeLimitedDiscountShop.activityId},
      </if>
      <if test="timeLimitedDiscountShop.shopId != null">
        `shop_id` = #{timeLimitedDiscountShop.shopId},
      </if>
    </set>
    where id = #{timeLimitedDiscountShop.id}
  </update>
  <delete id="deleteById">
    delete from time_limited_discount_shop where id = #{id}
  </delete>

    <delete id="deleteByActivityIdAndShopId">
        delete from time_limited_discount_shop where `activity_id` = #{activityId} and `shop_id` = #{shopId}
    </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into time_limited_discount_shop (`activity_id`,`shop_id`)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.activityId},#{entity.shopId})
        </foreach>
    </insert>

    <delete id="removeByActivityId">
        delete from time_limited_discount_shop where activity_id = #{activityId}
    </delete>

    <select id="selectByActivityId" resultType="com.mall4j.cloud.group.vo.TimeLimitedDiscountShopVO">
        select * from time_limited_discount_shop where activity_id = #{activityId} order by id desc
    </select>

    <select id="selectByActivityIdAndShopId" resultType="com.mall4j.cloud.group.vo.TimeLimitedDiscountShopVO">
        select * from time_limited_discount_shop where activity_id = #{activityId} and shop_id = #{shopId} order by id desc
    </select>

</mapper>
